<div class="reviews">
  {{#each this}}
  <section class="review">
    <div class="text">
      {{user.username}}
    </div>    
    <div class="text">
      {{review_text}}
    </div>
  </section>
  {{/each}}
</div>