<div class="reviews">
  {{#each this}}
  <div class="box">  
    <section class="review">
      <div class="meta">
        {{user.username}}
      </div>    
      <div class="text">
        {{review_text}}
      </div>
    </section>
  </div>
  {{/each}}
</div>