  <div class="box">  
    <section class="review">
      <div class="meta">
        By user: {{user.username}}
      </div>    
      <div class="text">
        Review Title: {{review_title}}
      </div>
      <div class="text">
        {{review_text}}
      </div>
    </section>
  </div>

