<div class="columns">
  <div class="column">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="bd-notification is-primary">
            <code class="html">My Movies</code><br>
            </p>

            <p class="bd-notification is-primary">
            <code class="html">My Movies</code><br>
            </p>

            <p>
            Movie 3
            </p>
        </div>
    </div>
  </div>

  <div class="column">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="bd-notification is-primary">
            <code class="html">My Reviews</code><br>
            </p>
        </div>
    </div>
  </div>

    <div class="column">
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <p class="bd-notification is-primary">
            <code class="html">Current Rentals</code><br>
            </p>
        </div>
    </div>
  </div>
</div>