<div class="columns">
  <div class="column">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">My Movies</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>
                                Free Willy
                            </th>
                            <th>
                                <div class="removeButton">
                                    <button class="button is-danger">Remove</button>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                The Goonies
                            </th>
                            <th>
                                <div class="removeButton">
                                    <button class="button is-danger">Remove</button>
                                </div>
                            </th>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  <div class="column">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">My Reviews</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>
                                Free Willy
                            </th>
                            <th>
                                <div class="removeButton">
                                    <button class="button is-warning">Edit</button>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                The Goonies
                            </th>
                            <th>
                                <div class="removeButton">
                                    <button class="button is-warning">Edit</button>
                                </div>
                            </th>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  <div class="column">
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Current Rentals</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th>
                                Free Willy
                            </th>
                            <th>
                                <div class="removeButton">
                                    <button class="button is-info">Return</button>
                                </div>
                            </th>
                        </tr>

                        <tr>
                            <th>
                                The Goonies
                            </th>
                            <th>
                                <div class="removeButton">
                                    <button class="button is-info">Return</button>
                                </div>
                            </th>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>