

<div>
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="movieTitle">Free Willy</h1>
            <p class="movieDescription">When a boy learns that a beloved killer whale is to be killed by the aquarium owners, 
                the boy risks everything to free the whale. When a boy learns that a beloved killer whale is to be killed by the 
                aquarium owners, the boy risks everything to free the whale.
            </p>
            <div class="reviews">
                <div class="box">
                    <p class="reviewTitle">
                        Inspiring!
                    </p>
                    <p class="username">
                        movieGooROO
                    </p>
                    <p class="reviewDescription">
                        Loved this movie as a kid!
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <h1 class="movieTitle">Rating</h1>

             <div class="buttons">
                <button class="button is-primary">Add Review</button>
            </div>
        </div>
        
    </div>
</div>
<button class="js-modal-trigger" data-target="modal-js-example">
  Open JS example modal
</button>
<script src="/javascript/BaseModal.js"></script>

    

    