

<div>
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="movieTitle">Free Willy</h1>
            <p class="movieDescription">When a boy learns that a beloved killer whale is to be killed by the aquarium owners, 
                the boy risks everything to free the whale. When a boy learns that a beloved killer whale is to be killed by the 
                aquarium owners, the boy risks everything to free the whale.
            </p>
            <div class="reviews">
                <div class="box">
                    <p class="reviewTitle">
                        Inspiring!
                    </p>
                    <p class="username">
                        movieGooROO
                    </p>
                    <p class="reviewDescription">
                        Loved this movie as a kid!
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <h1 class="movieTitle">Rating</h1>

             <div class="buttons">
                <button class="button is-primary" id="addReview">Add Review</button>
            </div>
        </div>
        
    </div>
</div>

{{#if loggedIn}}

{{> reviews }}

{{else}}
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>You must be logged in to leave a review!</p>
  </div>

</div>

<script src="/javascript/BaseModal.js"></script>
{{/if}}