<div>
    <div class="columns">
        <div class="column is-two-thirds">
            <h1 class="movieTitle">{{movie.title}}</h1>
            <p class="movieDescription">{{movie.description}}
            </p>
            <div class="reviews">
                <div class="box">
                    <p class="reviewTitle">
                        Inspiring!
                    </p>
                    <p class="username">
                        movieGooROO
                    </p>
                    <p class="reviewDescription">
                        Loved this movie as a kid!
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <h1 class="movieRating">{{movie.rating}}</h1>

            <div class="buttons">
                <button class="button is-primary" id="addReview">Add Review</button>
            </div>

            {{#ifEquals movie.status "available" }}
            <div class="buttons">
                <button class="button is-info" id="checkOut" type="submit">Check Out</button>
            </div>
            {{/ifEquals}}
        </div>

    </div>
</div>


<!-- The Modal -->
<div id="review-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <form class="user-form review-form">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <select name="score" id="score-selection">
                            <option value="" disabled selected>Select Score</option>
                            <option value="1 Star">1 Star</option>
                            <option value="2 Star">2 Star</option>
                            <option value="3 Star">3 Star</option>
                            <option value="4 Star">4 Star</option>
                            <option value="5 Star">5 Star</option>
                        </select>
                    </div>
                </div>

                <div class="control">
                    <button type="submit" class="button is-primary">Choose</button>
                </div>
            </div>

            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="review-title" type="text" spellcheck="true" placeholder="Review Title">
                    <span class="icon is-small is-left">
                        <i class="far fa-edit"></i>
                    </span>
                </p>

            </div>

            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="review-description" type="text" spellcheck="true" placeholder="Description">
                    <span class="icon is-small is-left">
                        <i class="far fa-file-alt"></i>
                    </span>
                </p>

            </div>

            <div class="buttons">
                <button class="button is-primary" type="submit">Submit Review</button>
            </div>
        </form>
    </div>

</div>

<script src="/javascript/review.js"></script>
{{#ifEquals movie.status "available" }}
<script src="/javascript/checkoutMovie.js"></script>
{{/ifEquals}}