
:root {
    --primary: rgb(225, 235, 232);
    --blue: rgb(29,165,190);
    --purple: rgb(84,39,111);
}
  
* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    background-color: var(--primary);
}

h1 {
    color: var(--blue);
}

ul {
    color: var(--purple);
}